.container {
  position: relative;
  .home-action {
    position: fixed;
    bottom: 60px;
    right: 30px;
    transition: all 0.3s;
    .btn-i {
      width: 96px;
      height: 96px;
      line-height: 96px;
      text-align: center;
      color: white;
      background: #6190E8;
      border-radius: 96px;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      position: relative;
      .icon {
        font-size: 56px;
      }
      .action-des {
        position: absolute;
        padding: 0px 20px;
        background: #6190E8;
        border-radius: 15px;
        // color: red;
        font-size: 26px;
        width: 340px;
        right: 120px;
        top: 15px;
        box-shadow: -3px 8px 8px rgba(80, 80, 80, 0.1);
        .action-txt {
          line-height: 70px;
        }
        .arr {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #6190E8;
          top: 16px;
          right: -13px;
        }
      }
      .dot {
        position: absolute;
        height: 30px;
        width: 108px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 18px;
        color: #6190E8;
        background: #f55569;
        text-align: center;
        left: -6px;
        bottom: 0px;
        &.has {
          color: #fff;
          background: #f55569;
        }
      }
      &.btn-share {
        // color: red;
      }
      &.btn-card {
        image {
          width: 56px;
          height: 56px;
          margin-top: 20px;
        }
      }
    }
  }
}