@import "../../font.css";
.icon {
  font-size: 32rpx;
  color: #989898;
  padding: 0 10px;
  &.icon-more {
    font-size: 50px;
  }
  &.active {
    color: #321123;
  }
}
.card {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px 20px;
  border-top: 1px solid #eeeeee;
  color: #595959;
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .user-info {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100px;
      margin: 0 20px;
      .nickname-wrap {
        font-weight: bold;
      }
      .school {
        color: #717171;
        font-size: 28px;
      }
    }
  }
  .center {
    padding: 30px 0;
    .content {
      
    }
    .imgs-box {
      margin: 10px 0;
      overflow: hidden;
      .img {
        float: left;
        width: 230px;
        height: 230px;
        margin: 6px 0;
        &:nth-child(3n-1) {
          margin: 6px 10px;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .topic {
      background-color: #f0f9ff;
      color: #6190e8;
      font-size: 24px;
      font-weight: lighter;
      padding: 0 20px;
      line-height: 44px;
      border-radius: 22px;
    }
    .option {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}