.card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  border-top: 2px solid #f2f2f2;
  padding: 30px;
  .icon {
    width: 60px;
    height: 60px;
  }
  Text {
    margin-left: 50px;
    font-size: 38px;
    letter-spacing: 2px;
  }
  .official {
    color: #ff4949;
  }
  &:active {
    background-color: #f2f2f2;
  }
}